<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
		<header id="header" class=''>
			<h1><a href="/admin">Ukdah</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><a href="/admin">Home</a></li>
                                <li><a href="/adminEmployees">User List</a></li>
                                <li><a href="/admin/awards">Award List</a></li>
                                <li><a href="/admin/awardTypes">Award Types</a></li>
                                <li><a href="/adminBusiness">Analytics</a></li>
                                <li><a href="/admin/account">Account</a></li>
								<li><a href="/login">Logout</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Ukdah User List (Admin)</h2>
                <p>List of users currently in the database</p>
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    
                    <h4>Users</h4>
                    <div class="table-wrapper">
                        <table class="alt"> 
                            <thead class="thead-dark text-center">
                                <th>User ID </th> 
                                <th>Name</th> 
                                <th>Email</th>
                                <th>Password</th>
                                <th>Region</th>
                                <th>User Type</th>
                                <th>Created</th>
                                <th></th>
                                <th></th>
                                <th></th>      
                            </thead> 
                            
                            <tbody> 
                                {{#each users}}
                                <tr> 
                                    <td>{{User_ID}}</td> 
                                    <td>{{Full_Name}}</td> 
                                    <td>{{Email}}</td> 
                                    <td>{{Password}}</td>
                                    <td>{{Region}}</td>
                                    <td>{{User_Type}}</td>
                                    <td>{{Date}}</td>
                                    <td><a href="/adminEmployees/{{User_ID}}">Update</a></td>
                                    <td><a href="/user/{{empID}}">Employees</a></td>
                                    <td><button class="button small primary" onclick="deleteUser({{User_ID}})">Delete</button></td>
                                </tr>
                                {{/each}}  
                            </tbody>
                        </table>
                    </div>

                    <section>
                        <h4>Add user</h4>
                        <form method="post" action="/adminEmployees">
                            <div class="row gtr-uniform">
                                <div class="col-4 col-12-xsmall">
                                    <input type="text" name="fname" id="fname" value="" placeholder="First Name" />
                                </div>
                                <div class="col-4 col-12-xsmall">
                                    <input type="text" name="lname" id="lname" value="" placeholder="Last Name" />
                                </div>
                                <div class="col-4 col-12-xsmall">
                                    <input type="email" name="email" id="email" value="" placeholder="Email" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <input type="password" name="password" id="password" value="" placeholder="Password" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <select name="region" id="region">
                                        <option value="">- Region -</option>
                                        {{#each regions}}
                                            <option value="{{regID}}">{{regName}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-4 col-12-small">
                                    <input type="radio" id="user-type-user" value={{userType.0.userTypeID}} name="userType" checked>
                                    <label for="user-type-user">User</label>
                                </div>
                                <div class="col-4 col-12-small">
                                    <input type="radio" id="user-type-admin" value={{userType.1.userTypeID}} name="userType">
                                    <label for="user-type-admin">Admin</label>
                                </div>
                                <div class="col-4 col-12-small">
                                    Signature <input type="file" id="sig" name="sig" accept="image/*">
                                </div>
                                <div class="col-12">
                                    <ul class="actions">
                                        <li><input type="submit" value="Add User" class="primary" /></li>
                                        <li><input type="reset" value="Reset" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </section>
        </article>
    </div>

    <script src="/static/javascripts/deleteUser.js"></script>
</body>