<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
		<header id="header" class=''>
			<h1><a href="/admin">Ukdah</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><a href="/admin">Home</a></li>
                                <li><a href="/admin/users">User List</a></li>
                                <li><a href="/admin/awards">Award List</a></li>
                                <li><a href="/admin/awardTypes">Award Types</a></li>
                                <li><a href="/admin/business">Analytics</a></li>
                                <li><a href="/admin/account">Account</a></li>
								<li><a href="/login">Logout</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Ukdah Users List</h2>
                <p>List of users currently in the database (admin view)</p>
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    <i><a href="/admin" class="icon fa-arrow-left"><span class="label">Go to Admin home page</span> Back to Admin Home</a></i>
                    <br><br><br>

                    <h4>Users</h4>
                    <div class="table-wrapper">
                        <table class="alt" id="scrollyTable"> 
                            <thead class="">
                                <th>Name</th>
                                <th></th> 
                                <th></th>  
                                <th></th>  
                                <th>Email</th>
                                <th>Password</th>
                                <th>Region</th>
                                <th>Type</th>
                                <th>Created</th>    
                            </thead> 
                            
                            <tbody> 
                                {{#each users}}
                                <tr> 
                                    <td><a title="Edit user" href="/admin/users/{{User_ID}}">{{Full_Name}}</a></td> 
                                    <td><a href="/admin/employees/{{User_ID}}"><i title="Employee List for {{Full_Name}}" class="fa fa-users fa-lg"></i></a></td>
                                    <td><a href="/admin/awards/{{User_ID}}"><i title="Awards given by {{Full_Name}}" class="fa fa-trophy fa-lg"></i></a></td>
                                    <td><a href="#"><i title="Delete {{Full_Name}} permanently" class="fa fa-trash fa-lg" onclick="deleteUser({{User_ID}})"></i></a></td>
                                    <td>{{Email}}</td> 
                                    <td>{{Password}}</td>
                                    <td>{{Region}}</td>
                                    <td>{{User_Type}}</td>
                                    <td>{{Date}}</td> 
                                </tr>
                                {{/each}}  
                            </tbody>
                        </table>
                    </div>

                    <br><br>
                    
                    <section>
                        <h4>Add user</h4>
                        <form method="post" action="/admin/users" id="addUser">
                            <div class="row gtr-uniform">
                                <div class="col-4 col-12-xsmall">
                                    <input type="text" name="fname" id="fname" value="" placeholder="First Name" />
                                </div>
                                <div class="col-4 col-12-xsmall">
                                    <input type="text" name="lname" id="lname" value="" placeholder="Last Name" />
                                </div>
                                <div class="col-4 col-12-xsmall">
                                    <input type="email" name="email" id="email" value="" placeholder="Email" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <input type="password" name="password" id="password" value="" placeholder="Password" />
                                </div>
                                <div class="col-6 col-12-xsmall">
                                    <select name="region" id="region">
                                        <option value="">- Region -</option>
                                        {{#each regions}}
                                            <option value="{{regID}}">{{regName}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-4 col-12-small">
                                    <input type="radio" id="user-type-user" value={{userType.0.userTypeID}} name="userType" checked>
                                    <label for="user-type-user">User</label>
                                </div>
                                <div class="col-4 col-12-small">
                                    <input type="radio" id="user-type-admin" value={{userType.1.userTypeID}} name="userType">
                                    <label for="user-type-admin">Admin</label>
                                </div>
                                <div class="col-4 col-12-small">
                                    <input type="file" id="sig" name="sig" accept="image/*">
                                </div>
                                <div class="col-12">
                                    <ul class="actions special">
                                        <li><input type="submit" value="Add User" class="primary" /></li>
                                        <li><input type="reset" value="Reset" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </section>
        </article>
    </div>
    <script src="/static/javascripts/deleteUser.js"></script>
</body>