<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
		<header id="header" class=''>
			<h1><a href="/admin">Ukdah</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><a href="/admin">Home</a></li>
                                <li><a href="/adminEmployees">User List</a></li>
                                <li><a href="/admin/awards">Award List</a></li>
                                <li><a href="/admin/awardTypes">Award Types</a></li>
                                <li><a href="/adminBusiness">Analytics</a></li>
                                <li><a href="/admin/account">Account</a></li>
								<li><a href="/login">Logout</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Ukdah Awards</h2>
                <p>List of certificates that have been awarded by the users</p>
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    
                    <h4>Awards</h4>
                    <div class="table-wrapper">
                        <table class="alt"> 
                            <thead class="thead-dark text-center">
                                <th>Award ID</th> 
                                <th>Awarder</th> 
                                <th>Employee Awarded</th> 
                                <th>Award Type</th> 
                                <th>Award Date</th> 
                                <th></th>      
                            </thead> 
                            
                            <tbody> 
                                {{#each awards}}
                                <tr> 
                                    <td>{{Cert_ID}}</td>
                                    <td>{{User_Name}}</td> 
                                    <td>{{Employee_Name}}</td>
                                    <td>{{Award_Name}}</td>   
                                    <td>{{Award_Date}}</td> 
                                    <td><button class="button small primary" onclick="deleteAward({{Cert_ID}})">Delete</button></td>
                                </tr>
                                {{/each}}  
                            </tbody>
                        </table>
                    </div>

                </div>
            </section>
        </article>
    <div>
    <script src="/static/javascripts/deleteAward.js"></script>
</body>