<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Main -->
        <article id="main">
            <header>
                <h2>User Database</h2>
                <p>Please select the creator of the Award!</p>
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    <section>
                        <h4>Users</h4>
                        <div class="table-wrapper">
                            <table class="alt">
                                <thead class="thead-dark text-center">
                                    <th>User ID </th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    {{!-- <th>Password</th>
                                    <th>Region</th> --}}
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </thead>

                                <tbody>
                                    {{#each users}}
                                    <tr>
                                        <td>{{User_ID}}</td>
                                        <td>{{First_Name}}</td>
                                        <td>{{Last_Name}}</td>
                                        <td>{{Email}}</td>
                                        {{!-- <td>{{Password}}</td>
                                        <td>{{Region}}</td>> --}}
                                        <td><button class="button small primary"
                                                onclick="selectUser({{Patient_ID}})">Select</button></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </section>
        </article>
    </div>
</body>