<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Create Award</h2>
                <!-- <p>Welcome to Ukdah administrator!</p>  -->
            </header>
            <section class="wrapper style5">
                <div class="inner">

                    <!--section>
                        <div class="scrollmenu" style="background-color:grey;overflow:auto;">
                            <div style="padding:10px;float:left">
                                <a href="#week" style="background-color:#A9A9A9;display:inline-block;color:white;text-align:center;padding:25px;width:250px">Employee of the Week</a>
                            </div>
                            <div style="padding:10px;float:left">    
                                <a href="#month" style="background-color:#A9A9A9;display:inline-block;color:white;text-align:center;padding:25px;width:250px">Employee of the Month</a>
                            </div>
                        </div>
                    </section-->

                    <!--section>
                    <div style="width:;height:;border:2px solid black">
                        <span class="image fit"><img src="images/EOTW_sample.jpg" alt="" /></span>
                    </div>
                    </section-->

                    <section>
                        <div class="row gtr-uniform">
                            <div class="col-4"></div>
                                <div class="inner col-4 col-12-small">
                                    <p id="errMessage">{{error}}</p>
                                    <section>
                                        <form method="POST" action="/user/createAward" id="createAward">
                                            <select name="award" id="award" value="{{awardID}}">
                                                <option value="">- Award Name -</option>
                                                {{#each awards}}
                                                    <option value="{{awardID}},{{awardName}},{{awardDesc}}">{{awardName}}</option>
                                                {{/each}}
                                            </select><br>
                                            <select name="employee" id="employee" value="{{empID}}">
                                                <option value="">- Employee -</option>
                                                {{#each employees}}
                                                    <option value="{{empID}},{{fname}},{{lname}},{{email}}">{{fname}} {{lname}}</option>
                                                {{/each}}
                                            </select><br>
                                                Certificate Date  : <input type="date" name="date" id="date" value="" placeholder="Award Date" /> <br><br>
                                            <ul class="actions special">
                                                <li><input type="submit" class="button primary" value="Email Award"></li>
                                            </ul>

                                        </form>
                                    </section>
                                </div>
                            <div class="col-4"></div>
                        </div> 
                    </section>
                </div>
            </section>
        </article>
    </div>
</body>