<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <header id="header" class={{header}}>
            <h1><a href="/user">Ukdah</a></h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li><a href="/user">Home</a></li>
                                <li><a href="/user/employees">Employee List</a></li>
                                <li><a href="/user/createAward">Create Award</a></li>
                                <li><a href="/user/updateAward">Award History</a></li>
                                <li><a href="/user/account">Account</a></li>
                                <li><a href="/login">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Award History</h2>
                <p>List of awards previously given</p>
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    <i><a href="/user" class="icon fa-arrow-left"><span class="label">Go to User home page</span> Back to User Home</a></i>
                    <br><br><br>
                    <h4>Awards</h4>
                    <div class="table-wrapper">
                        <table class="alt" id="scrollyTable"> 
                            <thead class="">
                                <th>Award</th>
                                <th>Award Description</th>
                                <th>Employee</th>
                                <th>Award Date</th>
                                <th></th>  
                            </thead> 
                            
                            <tbody> 
                                {{#each awards}}
                                <tr> 
                                    <td><a title="Update award" href="/updateAward/{{Cert_ID}}">{{Award_Name}}</a></td>
                                    <td>{{Award_Desc}}</td>
                                    <td>{{Employee}}</td>
                                    <td>{{Award_Date}}</td>
                                    <td><a href="#"><i title="Delete {{Award_Name}} permanently" class="fa fa-trash fa-lg" onclick="deleteCert({{Cert_ID}})"></i></a></td>
                                </tr>
                                {{/each}}  
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </article>
    </div>
    <script src="/static/javascripts/deleteCert.js"></script>
</body>