<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class={{header}}>
            <h1><a href="/userIndex">Ukdah</a></h1>
        </header>
        
        <!-- Main -->
        <article id="main">
            <header>
                <h2>User Information</h2>
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    <i><a href="/userIndex" class="icon fa-arrow-left"><span class="label">Go to user home page</span> Back to user home</a></i>
                    <br><br><br>
                    <section>
                        <b>First Name: </b> {{First_Name}} <br>
                        <b>Last Name: </b> {{Last_Name}} <br>
                        <b>Email: </b> {{Email}} <br>
                        <b>Account Creation Date: </b> {{Date}} <br>
                        <b>Signature: </b> {{Signature}} <br><br>
                        <a href="/userSettings" class="button fit">Edit Profile</a><br>
                        <a href="/login">Logout</a>
                    </section>
                </div>
            </section>
        </article>
    </div>
</body>